.relative.flex.flex-col.justify-center.items-center.h-full
  h1.text-5xl.text-center
    span.block The surprise of what is possible
    span.block to make with a simple
    span.block and thin thread.

  div(class="absolute bottom-12 left-1/2 -translate-x-1/2") 0%
